.project
.settings/
build.log
build/
Resources/GoogleAPISettings.js
# AppDev resources start
plugins/appdev-framework
Resources/appdev
i18n/en/appdev-strings.xml
i18n/zh-rCN/appdev-strings.xml
Resources/AppDev.js
Resources/jquery.js
Resources/android/images/res-hdpi/ic_action_discard.png
Resources/android/images/res-hdpi/ic_action_edit.png
Resources/android/images/res-hdpi/ic_action_new.png
Resources/android/images/res-hdpi/ic_action_save.png
Resources/android/images/res-mdpi/ic_action_discard.png
Resources/android/images/res-mdpi/ic_action_edit.png
Resources/android/images/res-mdpi/ic_action_new.png
Resources/android/images/res-mdpi/ic_action_save.png
Resources/android/images/res-xhdpi/ic_action_discard.png
Resources/android/images/res-xhdpi/ic_action_edit.png
Resources/android/images/res-xhdpi/ic_action_new.png
Resources/android/images/res-xhdpi/ic_action_save.png
Resources/android/images/res-xxhdpi/ic_action_discard.png
Resources/android/images/res-xxhdpi/ic_action_edit.png
Resources/android/images/res-xxhdpi/ic_action_new.png
Resources/android/images/res-xxhdpi/ic_action_save.png
Resources/images/arrow-down.png
Resources/images/arrow-down@2x.png
Resources/images/arrow-up.png
Resources/images/arrow-up@2x.png
Resources/images/checkbox-checked.png
Resources/images/checkbox-unchecked.png
Resources/images/info.png
Resources/images/info@2x.png
Resources/models/Viewer.js
Resources/ui/ActivityWindow.js
Resources/ui/AppInfoWindow.js
Resources/ui/AppTabGroup.js
Resources/ui/Checkbox.js
Resources/ui/ChooseOptionWindow.js
Resources/ui/DatePickerWindow.js
Resources/ui/ErrorWindow.js
Resources/ui/GoogleAuthWindow.js
Resources/ui/GoogleDriveChooseFileWindow.js
Resources/ui/LoginWindow.js
Resources/ui/ModelTable.js
Resources/ui/PasswordPromptWindow.js
Resources/ui/SortOrderWindow.js
Resources/ui/StringPromptWindow.js
Resources/ui/UIBase.js
Resources/ui/View.js
Resources/ui/Window.js
# AppDev resources end
